:root{
    --principal-text-color: #3498db;
    --nav-bg-color: #2c3e50;
    --link-text-color: #ecf0f1;
    --principal-bg-color: #2c3e50;
    --secondary-bg-color: #526e89;
}
.container-fluid{
    background-color: var(--principal-bg-color);
}
.navbar{
    padding-left: 15%;
    padding-right: 15%;
    padding-top:1%;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;    
}
#nav-name{
    color: var(--principal-text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}
/* Estilo del navbar cuando se hace scroll */
.navbar.scrolled {
    background-color:  var(--secondary-bg-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.nav-link{
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover{
    color: var(--principal-text-color);
}
.nav-bg{
    background-color: var(--nav-bg-color);
}

.nav-bg a{
    color: var(--link-text-color);
    text-decoration: none;
}
.nav-bg a:hover{
    color: var(--principal-text-color);
}

.btn-cv{
    text-align: center;
    color: var(--principal-text-color);
    border-color: var(--principal-text-color);
    padding: 6px 10px;
    border-radius: 10px;
    
}
.btn-cv:hover{
    background-color: var(--principal-text-color);
    color: #2f3b45;
}

.container-bg-introduction{
    background-color: var(--nav-bg-color);
    color: white;
}