:root{
    --principal-text-color: #3498db;
    --nav-bg-color: #2c3e50;
    --link-text-color: #ecf0f1;
    --principal-bg-color: #2c3e50;
}
.container-fluid{
    background-color: var(--principal-bg-color);
}
.navbar{
    padding-left: 15%;
    padding-right: 15%;
    padding-top:1%;
}
#nav-name{
    color: var(--principal-text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-link{
     font-size: 1rem;
}
.nav-link:hover{
    color: var(--principal-text-color);
}
.nav-bg{
    background-color: var(--nav-bg-color);
       
}
.nav-bg a{
    color: var(--link-text-color);
    text-decoration: none;
}
.nav-bg a:hover{
    color: var(--principal-text-color);
}

.btn-cv{
    text-align: center;
    color: var(--principal-text-color);
    border-color: var(--principal-text-color);
    padding: 8px 20px;
    font-weight: 500;
    border-radius: 50px;
}
.btn-cv:hover{
    background-color: var(--principal-text-color);
    color: var(--link-text-color);
}

.container-bg-introduction{
    background-color: var(--nav-bg-color);
    color: white;
}